@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Press+Start+2P&family=Varela+Round&display=swap'); 

body {
  font-family: "Varela Round", system-ui; 
  /* Arial, sans-serif; */
  font-weight: 400; 
  font-style: normal; 
  text-align: center;
  background-color: green;
  color: white;
}

#game-container {
  margin-top: 50px;
  height: 100vh; 
}

#player-hand, #dealer-hand {
  margin-bottom: 60px;
}

h1 {
  color: black; 
  font-size: 50px;
  letter-spacing: 20px;
}

p {
  color: black; 
  font-size: 20px; 
  letter-spacing: 2px;
}

.card {
  display: inline-block;
  width: 100px;
  height: 120px;
  background-color: white;
  color: black;
  margin: 0 10px;
  border: 1px solid red; 
  border-radius: 5px;
  line-height: 120px;
  font-size: 24px;
  font-weight: bold;
}

button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: white;
  color: green;
  border: 1px solid red;
  border-radius: 5px;
  cursor: pointer;
}

#chips {
  /* background-color: red; */
  width: auto; 
  height: 50px; 
  padding: 20px; 
  margin-top: 20px; 
}

#chips>button {
  background-color: black;
  border-radius: 50%; 
}

#result {
  color: red; 
  margin-top: 30px; 
  font-size: 50px;
}